.root {
    padding-bottom: 20px;
}

.chart {
    margin-top: 30px;
}

.chart > div {
    height: 450px;
}

.summary {
    margin-top: 35px;
}

.summary .otpTotalCount {
    font-size: 14px;
    font-weight: normal;
}

.summary .otpTotalCount > span {
    color: #f50057;
    font-size: 18px;
}

.summary .countBox {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 14px 0;
}

.countItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countItem .count {
    padding: 8px 0;
    font-size: 21px;
}

.countItem .days {
    color: rgba(0, 0, 0, 0.5);
}
