.root {
    margin-top: 35px;
}

.table1 {
    border-top: 1px solid rgb(224, 224, 224);
}

.table1 :global .MuiTableHead-root .MuiTableCell-root {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: normal;
    background-color: #fbfbfb;
}

.table1 .borderLeft {
    border-left: 1px solid rgb(224, 224, 224);
    padding-left: 32px;
}

.table1 .otpThead :global .MuiTableCell-root {
    padding-top: 4px;
    padding-bottom: 4px;
}

.table1 .userBody :global .MuiTableCell-root {
    padding-top: 8px;
    padding-bottom: 8px;
}

.table1 .userBox,
.table1 .clientBox {
    max-width: 160px;
    display: flex;
    align-items: center;
}

.table1 .clientBox > img,
.table1 .userBox > img {
    border-radius: 5%;
    width: 40px;
    margin-right: 15px;
}

.emptyBox {
    text-align: center;
    padding: 32px 0;
    border-bottom: 1px solid rgb(224, 224, 224);
}
