.root {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.otpSentTotal {
    margin-top: 20px;
}

.otpSentTotal span {
    color: #1890ff;
    font-size: 16px;
}

.chart {
    height: 600px;
    background-color: white;
}

.recentButtonBox {
    text-align: right;
    font-size: 13px;
}

.recentButtonBox :global .ant-btn-sm {
    font-size: 13px;
}
