.root {
    padding-bottom: 20px;
}

.table1 {
    margin-top: 25px;
}

.table1 :global .MuiTableBody-root .MuiTableCell-root {
    padding-top: 8px;
    padding-bottom: 8px;
}

.table1 .userBox {
    min-width: 180px;
    max-width: 220px;
    display: flex;
    align-items: center;
}

.table1 .clientBox {
    min-width: 160px;
    max-width: 200px;
    display: flex;
    align-items: center;
}

.table1 .clientBox > img {
    border-radius: 4px;
    width: 45px;
    margin-right: 15px;
}

.table1 .description {
    min-width: 160px;
    max-width: 200px;
}

.table1 .status {
    min-width: 100px;
    max-width: 200px;
}

.table1 .note {
    font-size: 13px;
    min-width: 100px;
    max-width: 200px;
}
