.root {
    padding-bottom: 20px;
}

.clientId {
    border-radius: 3px;
    padding: 5px 10px;
    font-family: monospace;
    font-size: 14px;
    background-color: #f9f9f9;
}

.uploadBox i {
    font-size: 80px;
    color: #bbb;
    cursor: pointer;
    vertical-align: middle;
}

.uploadBox img {
    border-radius: 4px;
    cursor: pointer;
    width: 80px;
}

.infoIcon {
    border-radius: 4px;
    width: 80px;
}

.inputWithButton {
    margin-right: 20px;
    width: 90%;
}

.uriBox:not(:first-child) {
    margin-top: 10px;
}

.guideText {
    margin-top: 25px;
}

.guideText :global .material-icons {
    color: #f57f17;
    vertical-align: -25%;
    margin-right: 10px;
}

.guideButtonBox {
    margin-left: 18px;
}
