.resManage {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.appSelect {
    display: flex;
    align-items: center;
}

.appBox {
    margin-left: 5px;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

.appBox:hover {
    background-color: #e6f7ff;
}

.appBox img {
    width: 30px;
    border-radius: 4px;
}

.appBox span {
    margin-left: 5px;
}

.appIcon {
    width: 40px;
    border-radius: 4px;
}

.treeMenu {
    width: 310px;
    min-height: 600px;
    max-height: 800px;

    display: flex;
    flex-direction: column;
}

.tree {
    margin-top: 10px;
    width: 100%;
    overflow: auto;
    border: 1px solid #e8e8e8;
    border-radius: 4px;

    flex-grow: 1;
}

.tree :global .ant-tree-title {
    margin-left: 5px;
}

.tree :global .material-icons {
    font-size: 20px;
    vertical-align: -5px;
}
