.content {
    width: 600px;
}

.uploadBox input {
    display: none;
}

.uploadBox :global .material-icons {
    font-size: 78px;
    color: #bbb;
    cursor: pointer;
    vertical-align: middle;
    border: 1px dashed #d9d9d9;
    border-radius: 5%;
}

.uploadBox img {
    border-radius: 5%;
    cursor: pointer;
    width: 80px;
    vertical-align: middle;
}

.uploadTip {
    font-size: 13px;
    color: #7f7f7f;
    margin-left: 10px;
    cursor: pointer;
}
