.userPool {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 100%;
}

.userVisible {
    padding-bottom: 20px;
}

.userVisible .left {
    width: 310px;
}

.userVisible .left :global .ant-table-tbody > tr > td {
    padding: 5px 0;
}

.selectedRow {
    background: #e6f7ff;
}

:global .ant-table-tbody > tr > td {
    padding: 5px 16px;
}

:global .ant-table-pagination.ant-pagination {
    margin-bottom: 0;
}

.user .backMenuItem {
    margin-top: 0;
    border-bottom: 1px solid #eee;
}

.linkOrg {
    width: 600px;
}

.titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    display: inline-block;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #aaa;
    height: 32px;
    line-height: 32px;
}

.linkTree {
    width: 100%;
    overflow: auto;
    margin-top: 10px;
}

.user {
    display: flex;
}

.right {
    margin-left: 15px;
}
