.root {
    margin-top: 25px;
    width: 100%;
}

.root :global .MuiTableBody-root .MuiTableCell-root {
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropDown :global .MuiListItem-root {
    min-width: 150px;
}

.name {
    min-width: 150px;
    max-width: 250px;
}

.description {
    font-size: 13px;
    min-width: 150px;
    max-width: 250px;
    word-break: break-all;
}

.clientName {
    max-width: 160px;
}
