.content h3 :global .material-icons {
    vertical-align: -20%;
    font-size: 20px;
    margin-right: 5px;
}

.content h3 {
    margin-top: 25px;
}

.content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.contact {
    font-size: 15px;
}

.mailTo {
    text-decoration: none;
    color: inherit;
}

.qrCode {
    font-size: 17px;
    vertical-align: -20%;
}

.popper1 {
    pointer-events: none;
    z-index: 1301;
}

.popper1 img {
    width: 13.5rem;
    height: 13.5rem;
    display: block;
}
