.content :global .material-icons {
    vertical-align: -20%;
    font-size: 20px;
    margin-right: 5px;
}

.content h3 {
    margin-top: 25px;
}

.content a {
}

.content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.contact {
    color: #f50057;
}

.closeButton {
    position: absolute;
    right: 6px;
    top: 6px;
    color: #7f7f7f;
}
