.drawerTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    padding: 15px 20px;
    font-size: 18px;
    border-bottom: 1px solid #eee;
    font-weight: 500;
}

.closeButton {
    position: absolute;
    right: 6px;
    color: #7f7f7f;
}

.item {
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.item:hover {
    background-color: #f7f8f9;
}

.box1 {
    display: flex;
    justify-content: space-between;
    height: 24px;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
}

.item .markRead {
    display: none;
}

.item .createDate {
    font-size: 13px;
}

.item:hover .markRead {
    display: inline-block;
}

.item:hover .createDate {
    display: none;
}

.itemTitle {
    margin-bottom: 0;
    margin-top: 0.5em;
}
