.orgManage {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.treeMenu {
    width: 310px;
    min-height: 600px;
    max-height: 1000px;
}

.tree {
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 42px);
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

:global .ant-tree-title {
    margin-left: 5px;
}

:global .material-icons {
    font-size: 20px;
    vertical-align: -5px;
}

.linkUser {
    width: 600px;
}

.titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    display: inline-block;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #aaa;
    height: 32px;
    line-height: 32px;
}
