.table1 {
    margin-top: 25px;
}

.title {
    max-width: 300px;
}

.content {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.54);
    max-width: 300px;
}

.isRead {
    opacity: 0.65;
}

.isRead a {
    color: inherit;
}

.level :global .material-icons {
    vertical-align: -25%;
    font-size: 20px;
    margin-right: 5px;
}

.dropDown :global .MuiListItem-root {
    min-width: 150px;
}
