.roleManage {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.permission {
    margin-top: -15px;
    display: flex;
    justify-content: space-between;
}

.permission .right {
    display: flex;
    flex-direction: column;
}

.treeMenu {
    min-height: 510px;
}

.treeMenu :global .ant-tree {
    margin-top: 0;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.operList {
    margin-top: 10px;
    width: 220px;

    flex-grow: 1;
}
