.dialog {
    min-width: 600px;
}

.dialog :global .MuiFormControl-root {
    width: 200px;
}

.dialog :global .MuiInputAdornment-positionStart {
    margin-right: 20px;
}

.dialog .table1 {
    margin-top: 5px;
}

.table1 {
    margin-top: 20px;
}

.table1 :global .MuiTableBody-root .MuiTableCell-root {
    padding-top: 8px;
    padding-bottom: 8px;
}

.table1 .userBox {
    max-width: 160px;
    display: flex;
    align-items: center;
}

.table1 .userBox > img {
    border-radius: 5%;
    width: 40px;
    margin-right: 15px;
}
