.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.root > span:global(.material-icons) {
    font-size: 100px;
    color: #3f51b5;
    opacity: 0.2;
}

.tip {
    color: #7f7f7f;
    margin-bottom: 20px;
}
