.root.vertical {
    margin-top: 20px;
}

.root.horizontal {
    margin-top: 25px;
    display: flex;
}

.root.vertical:first-of-type {
    margin-top: 0;
}

.root.horizontal:first-of-type {
    margin-top: 40px;
}

.root > label {
    height: 45px;
    line-height: 45px;
}

.root.vertical > label {
    display: block;
}

.root.horizontal > label {
    text-align: right;
    margin-right: 20px;
    width: 0;
    flex-grow: 1;
}

.root.vertical > div {
    width: 100%;
}

.root.horizontal > div {
    width: 0;
    flex-grow: 4;
}

.root > label.required:after {
    display: inline-block;
    margin-left: 4px;
    color: #f44336;
    font-size: 14px;
    line-height: 1;
    content: "*";
    font-family: SimSun, sans-serif;
}

.root :global .MuiFormGroup-row .MuiFormControlLabel-root {
    margin-right: 25px;
}

.root.horizontal > label.radioGroup {
    height: 42px;
    line-height: 42px;
}
