.root {
    margin-top: 30px;
}

.root p {
    font-size: 13px;
    color: #7f7f7f;
    margin-bottom: 8px;
}

.root ol {
    margin: 0;
    padding-left: 2em;
    font-size: 13px;
    color: #7f7f7f;
}

.root ol li {
    line-height: 1.5em;
}

.root ol li + li {
    margin-top: 2px;
}
