.root {
    padding-bottom: 20px;
}

.hr1 {
    color: #eee;
    border-top: none;
    width: 500px;

    margin-top: 25px;
    margin-bottom: 25px;
}

.infoBox {
    max-width: 800px;
    margin: 25px auto 0;
}

.infoBox > div {
    border-bottom: none;
}

.avatar {
    width: 80px;
    border-radius: 5%;
    vertical-align: middle;
}
