@import '~antd/dist/antd.css';

body {
    margin: 0;
    font-family: PingFangSC, "Microsoft YaHei", sans-serif;
}

#root {
    height: 100%;
}

/* reset antd */
.ant-drawer-title {
    font-weight: normal;
}

.ant-drawer-body {
    max-height: calc(100% - 55px);
    overflow: auto;
}

.ant-descriptions-item-label {
    color: rgba(0, 0, 0, 0.6);
}

.ant-descriptions-item-content {
    color: rgba(0, 0, 0, 0.85);
}

.ant-table-thead > tr > th {
    font-weight: normal;
    padding: 10px 16px;
}

.ant-table {
    border: 1px solid #eee;
    border-bottom: none;
}

.ant-table-pagination.ant-pagination {
    margin-bottom: 0;
}

/* reset antd end */

.ant-menu.ctrlMenu {
    width: 220px;
    border: 1px solid #eee;
    border-radius: 4px;
    box-sizing: border-box;
}

.tableSearch {
    margin-bottom: 20px;
}

.tableSearch input {
    height: 40px;
}

.tableSearch .ant-input-search-button {
    height: 40px;
}

.emptyBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}
