body {
    background-color: white;
}

p {
    line-height: 1.5;
}

h1 {
    font-size: 22px;
    font-weight: 500;
}

h2 {
    font-size: 18px;
    font-weight: 500;
}

h3 {
    font-size: 15px;
    font-weight: 500;
}

@font-face {
    font-family: "iconfont"; /* project id 545468 */
    src: url("//at.alicdn.com/t/font_545468_mdtrn4mbjm.eot");
    src: url("//at.alicdn.com/t/font_545468_mdtrn4mbjm.eot?#iefix") format("embedded-opentype"),
        url("//at.alicdn.com/t/font_545468_mdtrn4mbjm.woff2") format("woff2"),
        url("//at.alicdn.com/t/font_545468_mdtrn4mbjm.woff") format("woff"),
        url("//at.alicdn.com/t/font_545468_mdtrn4mbjm.ttf") format("truetype"),
        url("//at.alicdn.com/t/font_545468_mdtrn4mbjm.svg#iconfont") format("svg");
}

.iconfont {
    font-family: "iconfont";
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* reset mui start */
.MuiTooltip-tooltip {
    font-size: 12px;
}

.MuiTypography-h6 {
    font-size: 18px;
}

.MuiTypography-body1 {
    font-size: 14px;
}

.MuiInputBase-root {
    font-size: 14px;
}

.MuiInputBase-root.Mui-disabled {
    background-color: #fafafa;
}

.MuiMenuItem-root {
    font-size: 14px;
}

.MuiTab-root {
    text-transform: none;
}

.MuiOutlinedInput-input {
    padding: 14px;
}

.MuiOutlinedInput-multiline {
    padding: 14px;
}

.MuiOutlinedInput-inputMultiline {
    padding: 0;
}

.MuiFormHelperText-root {
    font-size: 13px;
}

.MuiSelect-selectMenu {
    min-height: 0;
}
/* reset mui end */

.mainActionBox {
    float: right;
    margin-top: -2px;
}

.tipBox {
    margin-top: 30px;
}

.tipBox p {
    font-size: 13px;
    color: #7f7f7f;
    margin-bottom: 8px;
}

.tipBox ol {
    margin: 0;
    padding-left: 2em;
    font-size: 13px;
    color: #7f7f7f;
}

.tipBox ol li {
    line-height: 1.5em;
}

.tipBox ol li + li {
    margin-top: 2px;
}

pre[class*="language-"] {
    background-color: #f7f8f9;
}

.inputEndButton {
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.inputEndButton + .inputEndButton {
    margin-left: 4px;
}

.inputEndButton > .material-icons {
    font-size: 16px;
    color: #3f51b5;
}

.MuiButton-root.small {
    line-height: normal;
}

.MuiButton-root.small .material-icons {
    font-size: 18px;
}

.emptyBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}
