.appManage {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.uploadIcon {
    font-size: 60px;
    color: #bbb;
    cursor: pointer;
}

.uploadImg {
    border-radius: 4px;
    cursor: pointer;
    width: 60px;
}

.appMenu {
    width: 310px;
    min-height: 600px;
    max-height: 800px;

    display: flex;
    flex-direction: column;
}

.appMenuBox {
    margin-top: 10px;
    overflow: auto;
    border: 1px solid #e8e8e8;
    border-radius: 4px;

    flex-grow: 1;
}

.appItem {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.appItem:hover {
    color: #1890ff;
}

.appItem.active {
    background-color: #e6f7ff;
    color: #1890ff;
}

.appItem img {
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.appItem span {
    vertical-align: middle;
}
