.appManage {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.uploadBox i {
    font-size: 80px;
    color: #bbb;
    cursor: pointer;
    vertical-align: middle;
}

.uploadBox img {
    border-radius: 4px;
    cursor: pointer;
    width: 80px;
}

.appMenu {
    width: 310px;
    min-height: 600px;
    max-height: 800px;

    display: flex;
    flex-direction: column;
}

.appMenuBox {
    margin-top: 10px;
    overflow: auto;
    border: 1px solid #e8e8e8;
    border-radius: 4px;

    flex-grow: 1;
}

.appItem {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appItem:hover {
    color: #1890ff;
}

.appItem.active {
    background-color: #e6f7ff;
    color: #1890ff;
}

.appItem img {
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.appItem .type {
    font-size: 13px;
    color: #7f7f7f;
}

.infoIcon {
    border-radius: 4px;
    width: 80px;
}

.uri {
    word-break: break-all;
}

.inputWithButton {
    margin-right: 20px;
    width: 90%;
}

.uriBox:not(:first-child) {
    margin-top: 10px;
}
