.appManage {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.uploadBox i {
    font-size: 80px;
    color: #bbb;
    cursor: pointer;
    vertical-align: middle;
}

.uploadBox img {
    border-radius: 4px;
    cursor: pointer;
    width: 80px;
}

.infoIcon {
    border-radius: 4px;
    width: 80px;
}

.inputWithButton {
    margin-right: 20px;
    width: 90%;
}

.uriBox:not(:first-child) {
    margin-top: 10px;
}
