.ol1 {
    margin: 0;
    padding-left: 2em;
}

.ol1 li {
    line-height: 1.5;
}

.ol1 li + li {
    margin-top: 10px;
}

.uploadLabel > img {
    border-radius: 5%;
    vertical-align: middle;
    cursor: pointer;
    width: 80px;
}

.uploadLabel :global .material-icons {
    font-size: 78px;
    color: #ccc;
    cursor: pointer;
    vertical-align: middle;
    border: 1px dashed #d9d9d9;
    border-radius: 5%;
}

.uploadTip {
    font-size: 13px;
    color: #7f7f7f;
    margin-left: 10px;
    cursor: pointer;
}

.downloadBox {
    margin-bottom: 30px;
}

.downloadBox p {
    margin-top: 0;
    margin-bottom: 10px;
}

.downloadBox a {
    word-break: break-all;
}
