.table1 {
    margin-top: 20px;
}

.table1 :global .MuiTableBody-root .MuiTableCell-root {
    padding-top: 8px;
    padding-bottom: 8px;
}

.grayBox {
    min-width: 100px;
    max-width: 200px;
}

.grayBox > span {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 4px 8px;
    border-radius: 4px;
}

.description {
    font-size: 13px;
    min-width: 120px;
    max-width: 240px;
    word-break: break-all;
}
